body{
	margin: 0;
	font-family: 'Promima Nova', 'Times New Roman', sans-serif;
	font-size: 18px;
	line-height: 30px;

}

header{
	background-color: #23A4D8;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'PT Sans Narrow', sans-serif;
	font-style: bold;

}

header h1{
	color: black;
	font-size: 100px;
	font-style: bold;
}

header img{
	border-radius: 10px;
	width: 525px;
	border: 50px #C856F7;
}
.paragraph1{
		font-size: 100px;
}

main{
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #AFB9B9;
	color: black;
}

main img{
	max-width: 50%;
	max-height: 100%
	border: 100px solid black
}

.this{
	color:white;
}

div{
	max-width: 1400px;
	padding: 20px;
	background-color: #AFB9B9;
	color: black;
}

h2{
	font-size: 40px;
	color: #2287D2;
	margin: 40px 0 10px;
}

a{
	color: #00FFFB;
}
a:hover{
	color: purple;
}

footer{
	background-color: #23A4D8;
	text-align: center;
	color: black;
	padding: 15px;
}

footer p{
	margin: 0;
}

p.caption{
	color: lightgrey;
	margin-top: 0;
}